@import 'vars';
@import 'fonts';
@import 'globall';

.header{
  background-color: $accent;
  &__inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__link{
  margin-left: 8px;
}

.menu__btn{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: relative;

  &::after{
   content: "";
   width: 12px;
   height: 2px;
   border-radius: 1px;
   background-color: $accent;
   position: absolute;
   top: 15px;
   left: 14px;
   box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

.head{
  background-image: url(../images/bg-head.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider{
  background: rgba(33, 33, 33, 0.5);
  &__item{
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title{
  font-family: 'RobotoCondensed-Regular';
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 61px;
    margin: 0 auto;
    background-color: $text-color;
  }
}
  &__text{
    display: none;
  }
  &__btn {
    display: block;
 }

  .slick-dots{
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 20px;
   left: 0;
   right: 0;
   .slick-active{
    button{
      background-color: transparent;
      border: 1px solid #476E4D;
    }
   }
   button{
  font-size: 0;
  border: none;
  background-color: $accent;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
   }
  }
}

  .call{
  background-color: $accent;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &__title{
    @extend %roboto-500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
  }
  &__text{
  margin-bottom: 40px;
  }
  &__btn{
  padding: 16px 15px;
  background-color: $bg-color;
  color: $accent;
  font-size: 18px;
  @extend %roboto-500;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  }
}

.services{
  padding: 25px 0 40px;
  align-items: center;
 &__title{
  
  }
}

@import 'tablet/tablet-640';
@import 'tablet/tablet-768';
@import 'tablet/tablet-1024';
@import 'tablet/tablet-1440';