@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
  .call__box {
    max-width: 695px;
  }
}