@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .logo__link {
    margin-left: 0;
  }
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin-bottom: 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    padding: 25px 0 32px;
    font-family: "RobotoCondensed-Regular";
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
  .services {
    padding: 50px 0 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr {
    text-align: left;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    margin-bottom: 27px;
    text-align: left;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    padding: 0 65px;
    min-height: 334px;
  }
  .services__item:hover {
    padding: 0 18px;
  }
  .services__item:hover .services__item-inner {
    padding: 35px 60px 5px;
    min-height: 288px;
  }
  .project {
    padding: 80px 0 60px;
  }
  .project__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 665px;
    margin: 0 auto;
  }
  .project__item-img {
    min-height: 282px;
    width: 317px;
    padding: 12px 14px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
  }
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: flex;
  }
  .team__images {
    margin-bottom: 0;
    width: 240px;
    height: 100%;
    margin-right: 34px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 28px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .team__btn {
    font-size: 18px;
  }
}